body {
    margin: 0;
    background-color: black;
    color: #f2f2f2;
}

.navbar {
    display: flex;
    align-items: center;
    padding-block: 15px;
}

.logo-brand-container {
    display: flex;
    align-items: center;
}
.logo-brand-container img {
    width: 25px;
    margin-inline: 8px;
}
.logo-brand-container .brand {
    font-size: 22px;
    color: #f2f2f2;
    text-decoration: none;
}
.navbar .divider {
height: 30px;
width: 3px;
background-color: #f2f2f2;
margin-left: 25px;
margin-right: 25px;
}

.learn {
    color: #f2f2f2;
    text-decoration: none;  
    /* border-bottom: 2px solid transparent; */
}

.learn:hover {

    border-bottom: 2px solid #f2f2f2;
    /* border-bottom-color: #f2f2f2; */
}
.navbar-links {
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: space-between;
}
.links {
    display: flex;
    flex: 1;
    align-items: center;
    column-gap: 20px;
    margin-left: 40px;
}

.links a {
    color: #f2f2f2;
    text-decoration: none;
    /* border: 2px solid transparent; */
}
.links a:hover {
    border-bottom: 2px solid #f2f2f2;
    /* border-bottom-color: #f2f2f2; */
}


.signinout-form-container {
    display: flex;
    align-items: center;

}
.search-form {
    display: flex;
    border: 1px solid #f2f2f2;
}
.search-form .search-input {
    width: 200px;
}
.search-form .search-input input{
    background-color: transparent;
    border: 0;
    color: #f2f2f2;
    width: 100%;
    margin-top: 2px;
    margin-bottom: 2px;
    font-size: 15px;
    outline: 0;
}

.signinout-form-container .signin {
    color: rgb(96, 130, 167);
    display: block;
    padding: 5px 10px;
    text-decoration: none;
    margin-left: 8px;
}

.signinout-form-container .signin:hover {
    background-color: rgb(87, 84, 84);
    text-decoration: underline;
    border-radius: 3px;
}
.search-form {

}

.search-form:focus-within {
    border: 3px solid rgb(96, 130, 167);
}
.search-form .search-icon {
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-form .search-icon i {
    font-size: 10px;
    color: rgb(96, 130, 167);
}